html {
    background-color: black;
    background-image: url(Images/HUD.png);
    background-repeat: false;
    background-size: 100vw 100vh;
    
}
/* This is to diplay the background (HUD) */

body{
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 5.5fr 1fr;
}
/* Body for the grids to put canvas in */

canvas {
    grid-column: 2/3;;
    display: block;
    width: 100%;
    margin: 4vh 5px;
    height: 68vh;
    background-color: black;
}
/* Canvas for the game over the background (HUD) */